<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>New Reservation</title>
        <link rel="stylesheet" href="../style.css">
    </head>
    

    
    <body class="bg-gray-200 flex justify-center">

        <!-- Notifications -->
        <% if (notif.show) { %>
        <div class="fixed right-0 h-screen  w-1/5 flex items-center justify-end mr-8">
            <% if (notif.color) { %>
            <div class="bg-green-100 p-5 font-VarelaRound border border-green-400">
            <% } else { %>
            <div class="bg-red-100 p-5 font-VarelaRound border border-red-400">
            <% } %>
                <form class="flex" action="/server.js" method="get">
                    <p class="text-lg text-gray-700 font-bold font-VarelaRound"><%= notif.message %></p>
                    <button type="submit" formaction="/closeNotif" class="text-sm font-VarelaRound text-gray-700 hover:text-main font-bold ml-3">&#x2715</button>
                </form>
            </div>
        </div>
        <% } %>

        <!-- Instructions Menu -->
        <div class="fixed left-0 h-screen max-w-sm flex items-center">
            <div id="instruction" class="bg-white rounded-lg p-5 font-VarelaRound hidden shadow-lg overflow-auto">
                <div class="flex justify-between">     
                    <p class="text-lg text-gray-700 font-bold font-VarelaRound">Instructions</p>
                    <button id="closeInstrButton" type="button" class="text-sm font-VarelaRound text-gray-700 hover:text-main font-bold">&#x2715</button>
                </div>
                <p class="my-4 text-gray-700">The time tracking will start once the button is pressed.</p>
                <p class="text-gray-700">Only elapsed time that exceeds 1 hour will be saved.</p>
            </div>
            <div id="showInstrButtonContainer" class="rotate-90 rounded-lg border border-gray-500 p-2 bg-white">
                <button  id="showInstrButton" type="button" class="text-sm font-VarelaRound text-gray-700 hover:text-main font-bold">Instructions</button>
            </div>    
            <script src="./utilities/instructions.js"></script>
        </div>

        <!-- Navigation Bar -->
        <nav class="bg-white fixed top-0 h-24 w-screen font-VarelaRound flex items-center justify-center">
            <div>
                <form action="/server.js" method="get">
                    <button type="submit" formaction="/dashboardOnClick" class="font-bold font-VarelaRound text-xl hover:text-main mr-10">Dashboard</button>
                    <button type="submit" formaction="/newOnClick" class="font-bold font-VarelaRound text-xl hover:text-main ml-10 mr-10">New Reservation</button>
                    <button type="submit" formaction="/trackerOnClick" class="font-bold font-VarelaRound text-xl hover:text-main ml-10">Tracker</button>
                </form>
            </div>
            <div class="absolute max-sm:hidden right-10 flex flex-col justify-center items-center">
                <p class="font-VarelaRound font-bold"><%= id %></p>
                <% if (role.userRole == 'administrator') { %>
                    <p class="font-VarelaRound font-bold text-gray-500 text-xs">Administrator</p>
                <% } else if (role.userRole == 'user') { %>
                    <p class="font-VarelaRound font-bold text-gray-500 text-xs">Student</p>
                <% } %>
            </div>
        </nav>

        <!-- Tracker Content -->
        <div class="w-1/2 mt-44 rounded-2xl bg-white shadow-lg p-5 grid grid-cols-2 gap-4">
            <div>
                <p class="font-bold font-VarelaRound ">Total Hours: </p>
                <p id="Total Hours" class="font-bold font-VarelaRound "><%= hours %></p>
            </div>
            <div>
                <p class="font-bold font-VarelaRound ">Time Elapsed: </p>
                <p id="elapsed" class="font-bold font-VarelaRound ">0 hours, 0 minutes, 0 seconds</p>
            </div>
            <button id="startBtn" class="font-bold font-VarelaRound bg-green-400 disabled:bg-gray-400 rounded-full h-10">Start Tracker</button>
            <button id="stopBtn" class=" font-bold font-VarelaRound bg-red-400 disabled:bg-gray-400 rounded-full h-10" disabled>Stop Tracker</button>
        </div>
        <script src="./utilities/tracker-utils.js"></script>
    </body>
</html>